<html>
  <head>
    <title>All urls</title>
  </head>
  <body>
    <ol>
      <h1>Server Side Rendering the Urls</h1>
      <% urls.forEach(url => { %>
      <li><%= url.short_id %></li>
      <% }) %>
    </ol>
  </body>
</html>
